@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700;800&display=swap");

.woocommerce-checkout .woocommerce form.checkout.woocommerce-checkout h3 {
  font-weight: 700;
}
.woocommerce-checkout .woocommerce form.checkout.woocommerce-checkout {
  background: white;
  box-shadow: 0px 5px 5px 0px rgb(0 0 0 / 5%);
  border-radius: 5px;
  padding: 30px;
  margin-bottom: 26px;
}

.woocommerce-checkout
  .woocommerce
  form.checkout.woocommerce-checkout
  .col-1
  div
  input {
  height: calc(2.25rem + 25px);
  padding: 0.375rem 1.5rem !important;
  border: 1px solid #d5d5d5 !important;
  border-radius: 50px;
  background: #e8f0fe;
}
.woocommerce-checkout
  .woocommerce
  form.checkout.woocommerce-checkout
  .col-1
  div
  input:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}

.woocommerce-checkout
  .woocommerce
  form.checkout.woocommerce-checkout
  .select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  height: 26px;
  position: absolute;
  top: 14px;
  right: 12px;
  width: 20px;
}

.woocommerce-checkout
  .woocommerce
  form.checkout.woocommerce-checkout
  span.select2-selection.select2-selection--single {
  height: calc(2.25rem + 25px);
  padding: 11px !important;
  color: #1a1a1a !important;
  border: 1px solid #d5d5d5 !important;
  border-radius: 50px;
}

/* your order table*/
.woocommerce-checkout
  .woocommerce
  table.shop_table.woocommerce-checkout-review-order-table {
  box-shadow: 0px 5px 5px 0px rgb(0 0 0 / 5%);
  border-radius: 5px;
  padding: 30px;
  margin-bottom: 26px;
  background: #ffffff;
}
.woocommerce-checkout
  .woocommerce
  table.shop_table.woocommerce-checkout-review-order-table
  tfoot {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.woocommerce-checkout
  .woocommerce
  table.shop_table.woocommerce-checkout-review-order-table
  tfoot
  td {
  text-align: right;
  border: none !important;
}
.woocommerce-checkout
  .woocommerce
  table.shop_table.woocommerce-checkout-review-order-table
  tfoot
  tr
  th {
  border: none !important;
}
.woocommerce-checkout
  .woocommerce
  table.shop_table.woocommerce-checkout-review-order-table
  tfoot {
  border-top: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.woocommerce-checkout
  .woocommerce
  table.shop_table.woocommerce-checkout-review-order-table
  td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08) !important;
  border-top: none;
}
.woocommerce-checkout
  .woocommerce
  form.checkout.woocommerce-checkout
  ul.wc_payment_methods.payment_methods.methods
  input {
  box-shadow: none !important;
}

.woocommerce-checkout
  .woocommerce
  form.checkout_coupon.woocommerce-form-coupon {
  display: block !important;
}

.woocommerce-checkout
  .woocommerce
  form.checkout_coupon.woocommerce-form-coupon
  button.button {
  color: #fff !important;
  background-color: #45b890 !important;
  border-color: #45b890 !important;
  border-radius: 25px !important;
  padding: 13px !important;
}
.woocommerce-checkout
  .woocommerce
  form.checkout_coupon.woocommerce-form-coupon
  input#coupon_code {
  background-color: #f9f9f9 !important;
  border-radius: 25px !important;
  border: 0 !important;
  padding: 13px !important;
}

/* Offer */
.upgrade-box {
  background: #8aa82f;
  padding: 30px;
  color: #ffffff;
  border-radius: 20px;
  display: flex;
  width: 100%;
}
.after-upgrade {
  background: #7ba631;
  /* border: 3px solid #f2df00; */
  text-align: center;
  padding: 30px;
  color: #ffffff;
  border-radius: 20px;
  width: 100%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.after-upgrade a {
  color: #fff;
  font-size: 14px;
  text-decoration: underline;
}
.after-upgrade a:hover {
  color: red;
  text-shadow: none !important;
}

.after-upgrade .fa-check-circle:before {
  content: "\f058";
  font-size: 40px;
}
.after-upgrade h2 {
  font-family: "Poppins";
  color: #fff;
  font-size: 30px;
}
.upgrade-box .upgrade-content-box button {
  border: 0;
  background: transparent;
  margin: 20px 0;
}
.upgrade-box .upgrade-content-box h3 {
  color: #fff;
  font-size: 20px;
  line-height: 30px;
  font-family: "Poppins";
}
.upgrade-box .upgrade-content-box button a {
  text-decoration: none;
  padding: 15px 33px;
  border-radius: 30px;
  cursor: pointer;
  margin-bottom: 20px;
  background: #ffed19;
  color: #000000;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 18px;
}
.upgrade-box .upgrade-content-box button a:hover {
  border: 4px solid #f2df00;
}
.upgrade-image img {
  /* max-width: 100%; */
  width: 230px;
}
.upgrade-content-box {
  /* padding-right: 50px; */
}

/* side cart */

a.xoo-wsc-basket.ctm-cart-top {
  position: inherit;
  padding: 0;
  margin: 0;
  height: 0;
  width: 0;
  background: transparent;
  box-shadow: none;
}

span.fa.fa-shopping-cart em {
  background: #ff4367;
  height: 19px;
  width: 19px;
  position: absolute;
  line-height: 19px;
  text-align: center;
  border-radius: 50px;
  top: 24px;
  color: #fff;
  font-size: 10px;
}

.xoo-wsc-basket {
  display: none;
}
.custom-offer p.ft-btm {
  font-size: 11px !important;
}

body.page-id-67 tr.shipping.recurring-total {
  display: none;
}

body.page-id-67 tr.order-total.recurring-total {
  display: none;
}

body.page-id-67 tr.recurring-totals {
  display: none;
}

body.page-id-67 tr.cart-subtotal.recurring-total {
  display: none;
}

body.page-id-67 td.product-name {
  padding-left: 20px !important;
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
  color: #383838;
}



@media (min-width: 320px) and (max-width: 767px) {
  .woocommerce-checkout .woocommerce form.checkout.woocommerce-checkout {
    padding: 0px;
  }
  .upgrade-content-box {
    padding-right: 0px;
  }
  .upgrade-box {
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .upgrade-box .upgrade-content-box button a {
    font-size: 16px;
  }
  .upgrade-image img {
    width: 130px;
  }
}



a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart.sa_ctm_btn {
  width: 100%;
  text-align: center;
  height: 60px;
  line-height: 40px;
}
.xoo-wsc-modal .xoo-wsc-basket {
  display: none !important;
}
body.page-id-67 .xoo-wsc-basket {
  display: none !important;
}

@media only screen and (min-width: 992px) and (max-width: 1439px)  {
  .upgrade-content-box {
      padding-right: 20px;
  }
  .upgrade-box .upgrade-content-box button {
      margin: 10px !important;
  }
  .upgrade-box .upgrade-content-box button a {
      font-size: 14px;
      display: inline-block;
  }
}